body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
.container {
  display: flex;
  width: 800px;
  height: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.login-box,
.signup-box {
  flex: 1;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-box {
  background: #2cbfae;
  color: white;
}
.signup-box {
  background: white;
}
.signup-box h2 {
  color: #2cbfae;
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.sign-in {
  background: white;
  color: #2cbfae;
}
.sign-up {
  background: #2cbfae;
  color: white;
}
input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
